/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #fff;
    color: #333;
    direction: rtl;
    text-align: right;
    line-height: 1.6;
}

/* Conteneur principal */
.container {
    text-align: center;
    padding: 20px;
}

h2, h3 {
    color: #E70000;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* Bouton principal */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E70000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #cc0000;
}

/* Formulaire */
#form-container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    resize: none;
}

form .button {
    display: block;
    width: 100%;
    margin-top: 10px;
}

/* Masquer le formulaire par défaut */
.hidden {
    display: none;
}
